<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <h1>All Blogs Here</h1>
    {{#each blogs as |blog|}}
        {{#if blog.isApproved}}
            <div>
                <h1>{{blog.title}}</h1>
                <p>{{blog.content}}</p>
            </div>
        {{/if}}
    {{/each}}
</body>
</html>
